<main class="home-con">
    <h1>Which <span>Chinese Zodiac</span> Are You?</h1>
    {{!-- <p>Welcome to {{title}}</p> --}}
        <section class="animal-btns">
            <h2 class="hidden">Animal Buttons</h2>
            <object data="imgs/animal_rat.svg" data-target="1" type="image/svg+xml" class="svg-btn" id="rat"></object>
            <object data="imgs/animal_ox.svg" data-target="2" type="image/svg+xml" class="svg-btn" id="ox"></object>
            <object data="imgs/animal_tiger.svg" data-target="3" type="image/svg+xml" class="svg-btn" id="tiger"></object>
            <object data="imgs/animal_rabbit.svg" data-target="4" type="image/svg+xml" class="svg-btn" id="rabbit"></object>
            <object data="imgs/animal_dragon.svg" data-target="5" type="image/svg+xml" class="svg-btn" id="dragon"></object>
            <object data="imgs/animal_snake.svg" data-target="6" type="image/svg+xml" class="svg-btn" id="snake"></object>
            <object data="imgs/animal_horse.svg" data-target="7" type="image/svg+xml" class="svg-btn" id="horse"></object>
            <object data="imgs/animal_goat.svg" data-target="8" type="image/svg+xml" class="svg-btn" id="goat"></object>
            <object data="imgs/animal_monkey.svg" data-target="9" type="image/svg+xml" class="svg-btn" id="monkey"></object>
            <object data="imgs/animal_rooster.svg" data-target="10" type="image/svg+xml" class="svg-btn" id="rooster"></object>
            <object data="imgs/animal_dog.svg" data-target="11" type="image/svg+xml" class="svg-btn" id="dog"></object>
            <object data="imgs/animal_pig.svg" data-target="12" type="image/svg+xml" class="svg-btn" id="pig"></object>
        </section>
        <section class="animal-description">
            <h2 class="name">Rat</h2>
            <h3 class="mandarin-name">鼠(Shǔ)</h3>
            <p class="description">Rats are clever, quick thinkers; successful, but content with living a quiet and peaceful life.</p>
            <div class="years"></div>
        </section>
</main>
