<main class="home-con">
    <h1>Which <span>Chinese Zodiac</span> Are You?</h1>
    {{!-- <p>Welcome to {{title}}</p> --}}
        <section class="animal-btns">
            <h2 class="hidden">Animal Buttons</h2>
            <button class="svg-btn" data-target="1"><object data="imgs/animal_rat.svg" type="image/svg+xml" id="rat"></object></button>
            <button class="svg-btn" data-target="2"><object data="imgs/animal_ox.svg" type="image/svg+xml" id="ox"></object></button>
            <button class="svg-btn" data-target="3" ><object data="imgs/animal_tiger.svg" type="image/svg+xml" id="tiger"></object></button>
            <button class="svg-btn"><object data="imgs/animal_rabbit.svg" data-target="4" type="image/svg+xml" id="rabbit"></object></button>
            <button class="svg-btn"><object data="imgs/animal_dragon.svg" data-target="5" type="image/svg+xml" id="dragon"></object></button>
            <button class="svg-btn"><object data="imgs/animal_snake.svg" data-target="6" type="image/svg+xml" id="snake"></object></button>
            <button class="svg-btn"><object data="imgs/animal_horse.svg" data-target="7" type="image/svg+xml" id="horse"></object></button>
            <button class="svg-btn"><object data="imgs/animal_goat.svg" data-target="8" type="image/svg+xml" id="goat"></object></button>
            <button class="svg-btn"><object data="imgs/animal_monkey.svg" data-target="9" type="image/svg+xml" id="monkey"></object></button>
            <button class="svg-btn"><object data="imgs/animal_rooster.svg" data-target="10" type="image/svg+xml" id="rooster"></object></button>
            <button class="svg-btn"><object data="imgs/animal_dog.svg" data-target="11" type="image/svg+xml" id="dog"></object></button>
            <button class="svg-btn"><object data="imgs/animal_pig.svg" data-target="12" type="image/svg+xml" id="pig"></object></button>
        </section>
        <section class="animal-description">
            <h2 class="name">Rat</h2>
            <h3 class="mandarin-name">鼠(Shǔ)</h3>
            <p class="description">Rats are clever, quick thinkers; successful, but content with living a quiet and peaceful life.</p>
            <div class="years"></div>
        </section>
</main>
