<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- sets site size to equal the device width -->
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- reset before main css (reset, then rewrite) -->
    <link href="css/reset.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" sizes="16x16" href="imgs/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans|Raleway&display=swap" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <title>{{title}}</title>
</head>

  <body>
      <div class="main-con">
          {{!-- tells the rendering engine, hbs, to put the data here --}}
          {{{ body }}}
      </div>

      <footer>
          <p>© Kayla Chang 2019. All Rights Reserved.</p>
      </footer>

      <script src="js/main.js"></script>
  </body>
</html>
